<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

	<!-- Logging Properties -->
	<Properties>
		<Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
		<Property name="APP_LOG_ROOT">Logs</Property>
	</Properties>

	<Appenders>

		<!-- Console Appender -->
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

		<!-- File Appenders on need basis -->
		<RollingFile name="frameworkLog" fileName="${APP_LOG_ROOT}/app2.log" filePattern="${APP_LOG_ROOT}/app2-%d{yyyy-MM-dd}-%i.log">
			<LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>

		<RollingFile name="debugLog" fileName="${APP_LOG_ROOT}/app3.log" filePattern="${APP_LOG_ROOT}/app3-%d{yyyy-MM-dd}-%i.log">
			<LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>

		<RollingFile name="infoLog" fileName="${APP_LOG_ROOT}/app4.log" filePattern="${APP_LOG_ROOT}/app4-%d{yyyy-MM-dd}-%i.log" append="false">
			<LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				 <SizeBasedTriggeringPolicy size="5B" />
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

		<RollingFile name="errorLog" fileName="${APP_LOG_ROOT}/app5.log" filePattern="${APP_LOG_ROOT}/app5-%d{yyyy-MM-dd}-%i.log">
			<LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>

		<RollingFile name="perfLog" fileName="${APP_LOG_ROOT}/app6.log" filePattern="${APP_LOG_ROOT}/app6-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="1" />
		</RollingFile>

		<RollingFile name="traceLog" fileName="${APP_LOG_ROOT}/app7.log" filePattern="${APP_LOG_ROOT}/app7-%d{yyyy-MM-dd}-%i.log" append="false">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="2" modulate="true" />

			</Policies>
			<DefaultRolloverStrategy compressionLevel="0" max="1" />
		</RollingFile>

	</Appenders>

	<Loggers>

		<Logger name="com.logger.log" additivity="false" level="trace">
			<AppenderRef ref="traceLog" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="com.logger.log" additivity="false" level="debug" append="false">
			<AppenderRef ref="debugLog" />
			<AppenderRef ref="infoLog" />
			<AppenderRef ref="errorLog" />
			<AppenderRef ref="Console" />
			<AppenderRef />
		</Logger>

		<Logger name="com.logger.log" additivity="false" level="info">
			<AppenderRef ref="perfLog" />
			<AppenderRef ref="Console" />
		</Logger>

		<Root level="warn">
			<AppenderRef ref="Console" />
		</Root>

	</Loggers>

</Configuration>